
<div class="pages navbar-through ">
  <div data-page="cadastroUsuario" class="page">
    <!-- Top navbar -->
    <div class="navbar">
      <div class="navbar-inner">
        <div class="center sliding">Cadastro</div>
      </div>
    </div>
    <!--/ Top navbar -->
    <div class="container-fluid">
      <div class="">
        <div class="col-md-4 col-md-offset-4">
          <div class="content-block-title" style="margin-top: 50px;">Preencha todos os campos</div>
          <div class="list-block">
            <ul>
              <li>
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-input">
                      <input id="nomeUsuario" type="text" placeholder="Nome" required>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-input">
                      <input id="emailUsuario" type="email" placeholder="E-mail" required>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-input">
                      <input id="senhaUsuario" type="password" placeholder="Senha" required>
                    </div>
                  </div>
                </div>
              </li>
              <li class="content-block">
                <a href="#" class="button button-raised button-fill color-blue">Salvar</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
