
<div class="pages navbar-through ">
  <div data-page="home" class="page">
    <!-- Top navbar -->
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
          <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>
        <div class="center sliding">bee Finance</div>
        <div class="right">
          <a href="#" class="back link">
            <i class="icon icon-back"></i>
          </a>
        </div>
      </div>
    </div>
    <!--/ Top navbar -->

    <div class="page-content">
      <div class="content-block">
        Home
      </div>
    </div>

  </div>
</div>
